@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

@page "/"

<PageTitle>Now -> Then -> Next - List</PageTitle>

<div class="container gap-3">
    <div class="row p-2">
        <div class="col">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group me-1">
                    <div class="input-group-text" id="btnGroupAddon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </div>
                    <input type="text" class="form-control" placeholder="Filter..." @bind-value="FilterText" @bind-value:event="oninput" />
                    <button
                        type="button"
                        class="btn btn-success float-end"
                        @onclick="@(() => Modal.Show<AddPlace>("Add Place"))">
                        +
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <ul class="list-group">
                @foreach (var place in FilteredPlaces)
                {
                    <PlaceListItem Place="@place" />
                }
            </ul>
            @if (FilteredPlaces.Count == 0)
            {
                <div class="alert alert-info mt-3">
                    No places found @(string.IsNullOrWhiteSpace(FilterText) ? "" : $"matching '{FilterText}'").
                </div>
            }
        </div>
    </div>
</div>

@code {
    
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private List<Place> Places { get; set; } = [];
    private string FilterText { get; set; } = string.Empty;
    
    private List<Place> FilteredPlaces => string.IsNullOrWhiteSpace(FilterText) 
        ? Places 
        : Places.Where(p => FilterPlace(p, FilterText)).ToList();
    
    protected override async Task OnInitializedAsync()
    {
        Places = await LocalStorage.GetItemAsync<List<Place>>(StorageKeys.Places) ?? []; 
    }
    
    private bool FilterPlace(Place place, string filterText)
    {
        if (string.IsNullOrWhiteSpace(filterText))
            return true;
            
        filterText = filterText.Trim().ToLower();
        
        return place.Name.ToLower().Contains(filterText) ||
               (place.Description?.ToLower().Contains(filterText) ?? false) ||
               (place.Group?.ToLower().Contains(filterText) ?? false);
    }
}