<h3>@Name</h3>

<div class="container">
    <div class="row">
        @foreach(var place in Places)
        {
            <PlaceCard Name="@place.Name" Description="@place.Description"/>
        }
    </div>
</div>


@code {
    
    [Parameter]
    public required string Name { get; init; }
    
    public IReadOnlyCollection<Place> Places { get; init; } = [
        new("The Farm", "Where the real horses are"),
        new("Godstone Playpark", "Where the fake horses are")
    ];
}