@page "/"

<PageTitle>Now -> Then -> Next - List - foo</PageTitle>

<button type="button" class="btn btn-primary float-end">Add Place</button>
<PlaceGroup Name="Home & Away"/>
<PlaceGroup Name="Dorset"/>