<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">@Place.Name</div>
        @Place.Description
    </div>
    <span class="badge bg-primary rounded-pill">@Place.Group</span>
</li>

@code {
    [Parameter]
    public required Place Place { get; init; }
}